:root {
  --primary: #f8fbfc;
  --accent: #2d3132;
  --stroke: #dce0e0;
  --muted: #fbfbfb;

  --border-radius: 4px;
}

* {
  margin: 0;
}

html {
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: var(--primary);
  color: var(--accent);
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

main {
  padding: 12rem 6rem;
}

p,
a,
input,
div,
textarea,
button {
  color: var(--accent);
}

button {
  border-radius: var(--border-radius);
  padding: 0.75rem;
  border: 1px solid var(--stroke);
  background-color: var(--primary);
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}

input {
  height: fit-content;
  padding: 0.75rem 1rem;
  text-align: left;
  border: solid 1px var(--stroke);
  border-radius: var(--border-radius);
  background-color: var(--muted);
  color: var(--accent);
}

header {
  width: 100vw;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--primary);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.75rem;
  box-sizing: border-box;
  margin: 0;
  gap: 2rem;
}

nav>.middle {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
}

nav>.middle>.search {
  width: 100%;
}

nav>.right {
  display: flex;
  gap: 1rem;
}

.icon {
  width: 2rem;
  height: auto;
  aspect-ratio: 1;
  color: var(--accent);
}

header {
  z-index: 100;
}

header>ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid var(--stroke);
  border-top: 1px solid var(--stroke);
  padding: 1rem 0;
}

a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: center;
}

footer>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--stroke);
  padding: 3rem 4rem;
  width: 100%;
  max-width: 1000px;
  gap: 1.5rem;
}

footer>div>p {
  text-align: center;
}

footer>div>ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4rem;
}

.credential-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  max-width: 500px;
  width: 100%;
}

.credential-title {
  text-align: center;
}

.credential-span {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}

.credential-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.credential-bottom {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  text-align: center;
}

.credential-bottom>p {
  margin: 0;
}

.accent-button {
  background-color: var(--accent);
  font-weight: bold;
  color: var(--primary);
  padding: 1rem 2rem;
}

.bold {
  font-weight: bold;
}

.section-title {
  font-size: 3rem;
  text-align: center;
}

section {
  text-align: center;
  margin-bottom: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
}

.description {
  max-width: 1000px;
}

.pagination {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 2rem;
  width: 100%;
}
