.page {
  display: flex;
  width: 100vw;
  height: 100%;
  align-items: stretch;
}

.sidebar {
  position: sticky;
  top: 185px;
  left: 0;
  background-color: var(--primary);
  max-width: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 2rem;
  border-right: 1px solid var(--stroke);
  overflow-y: none;
  padding-top: 3rem;
}

.sidebar-list {
  padding: 0;
}

.sidebar-title {
  margin-bottom: 0.5rem;
}

.sidebar-anchors {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
