.watch-section {}

.watches {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1100px;
  width: 100%;
}

.watch:hover {
  cursor: pointer;
  text-decoration: none;
}

.watch-image-container {
  width: 12.5rem;
  height: 12.5rem;
  aspect-ratio: 1;
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--muted);
}

.watch-image {
  width: 100%;
  object-fit: contain;
  border-radius: 4px;
  transition: transform 0.3s;
  background-color: var(--muted);
}

.watch:hover .watch-image {
  transform: scale(1.1);
}

.watch-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  margin-top: 1.5rem;
}

.watch-brand,
.watch-price {
  font-weight: bold;
}
